@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

html{
    min-height: 100%;
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}

/* agregado */
header{
    display: flex;
    flex-direction: column;
}

.navbar-menu{
    background-color: #52796f;
    display: flex;
    width: 100%;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-menu .navbar-logo{
    margin-left: 5%;
    color: white;
}

.navbar-menu .navbar-items{
    display: flex;
}

.navbar-menu .navbar-items div{
    display: flex;
    background-color: #52796f;
    width: 100px;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.navbar-menu .navbar-items div:hover{
    background-color: #354f52;
}

.navbar-menu .navbar-items div a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar-menu .navbar-items div a:hover{
    text-shadow: 1px 1px 3px white;
    font-weight: bold;
}

.footer{
    background-color: rgb(182, 181, 181);
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: center;
}

.footer p{
    padding: 0px;
    margin: 0px;
}

.container-principal{
    background-color: #cad2c5;
    margin: 80px 50px 20px 50px;
    padding: 30px;
}

.container-principal h2{
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.links-networks-social{
    display: flex;
    justify-content: center;
}

.links-networks-social a{
    margin: 25px;
}

.links-networks-social a img{
    height: 130px; 
    width: 130px;
}

.container-catalogue{
    display: flex;
    flex-flow: row;
}

.filters{
    display: inline-flex;
    flex-direction: column;
    width: 10%;
    padding: 10px;
    border-right: 1px solid #52796f;
}

.filters div{
    padding-left: 20px;
}

.filters h3{
    margin: 10px 0px;
    text-align: center;
    text-decoration: underline;
}

.filters h4{
    margin: 10px 0px;
}

.filters ul{
    list-style: none;
    margin: 5px 0px;
}

.products{
    display: inline-flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 90%;
    justify-content: space-evenly;
}

.products article{
    display: flex;
    width: 300px;
    height: 330px;
    justify-content: center;
    align-items: center;
}

.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 10px;
    width: 200px;
    height: 230px;
    justify-content: space-between;
    transition: padding 1s;
}

.product-card img{
    height: 200px; 
    width: 200px;
    transition: 1s;
}

.product-card a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-top: 7px;
}

.product-card:hover{
    background-color: #52796f;
    padding: 25px;
}

.product-card:hover img{
    height: 210px;
    width: 210px;
}

.product-card:hover a{
    color: white;
}

.product-card a:hover{
    text-decoration: underline;
}

.nosotros-img-container{
    display:flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.container-details-product{
    display: flex;
    justify-content: space-around;
}

.container-img-product{
    display: flex;
    width: 50%;
    justify-content: center;
}

.container-img-product img{
    height: 400px;
    width: 400px;
}

.container-description-product{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 30px;
}

.container-description-product h3{
    margin-top: 0px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.container-description-product p{
    margin: 0px;
}

.container-comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.container-comments h3{
    text-decoration: underline;
}

.container-comments form{
    display: flex;
    flex-direction: column;
}

.container-comments form label{
    margin: 10px 0px;
}

.container-comments form input{
    margin-bottom: 10px;
    border-color: #52796f;
    border-style: solid;
    border-width: 1px;
    height: 20px;
}

.container-comments form textarea{
    margin-bottom: 10px;
    border-color: #52796f;
}

.container-comments form button{
    margin: 10px;
    border: none;
    background-color: #52796f;
    color: white;
    font-size: 15px;
    height: 30px;
}

.container-comments form button:hover{
    background-color: #354f52;
}

.nosotros-img-container img{
    height: 400px; 
    width: 800px;
}

#body-grid{
    display: grid;
    grid-template-areas: "header"
                         "section"
                         "footer";
    grid-template-rows: auto;
    grid-template-columns: auto;
}

header{
    grid-area: header;
}

section{
    grid-area: section;
}

footer{
    grid-area: footer;
}

aside{
    grid-area: aside;
}

/* ------------------------------------------------------------------------------ MEDIA QUERIES ----------------------------------------------------------------------------------------*/

/* Laptop */
@media screen and (max-width: 1024px){
    .filters{
        width: 25%;
    }

    .filters div{
        padding-left: 0px;
    }

    .filters h4{
        margin: 10px 0px 3px 18px;
    }
}

/* Tablet */

@media screen and (max-width: 768px){
    .filters{
        width: 35%;
    }

    .filters div{
        padding-left: 0px;
        margin-bottom: 8px;
    }

    .filters h4{
        margin: 10px 0px 3px 0px;
    }

    .filters ul{
        list-style: none;
        margin: 0px 0px;
        display: contents;
    }

    .nosotros-img-container img{
        height: 300px; 
        width: 600px;
    }

    .container-details-product{
        display: flex;
        flex-direction: column;
    }

    .container-img-product{
        display: flex;
        width: auto;
    }
    
    .container-img-product img{
        height: 320px;
        width: 320px;
        align-items: center;
    }

    .container-description-product{
        display: flex;
        flex-direction: column;
        width: auto;
        padding-top: 30px;
    }
}

/* Celular (normal)*/
/* La idea a futuro es hacer que la sección de filtros sea un desplegable. */

@media screen and (max-width: 425px){
    .navbar-menu{
        flex-direction: column;
    }

    .navbar-menu .navbar-logo{
        margin-left: 0%;
        color: white;
        background-color: #354f52;
    }

    .navbar-menu .navbar-logo h1{
        margin: 10px;
    }

    .navbar-menu .navbar-items div{
        width: 100px;
        height: 50px;
    }

    .container-principal{
        background-color: #cad2c5;
        margin: 110px 15px 20px 15px;
        padding: 20px;
    }

    .container-catalogue{
        flex-flow: column;
    }

    .filters{
        width: auto;
        border-right: none;
        border-bottom: 1px solid #52796f;
        align-items: baseline;
    }

    .filters h3{
        margin: 0px;
        text-align: left;
        text-decoration: underline;
    }

    .filters h4{
        margin: 10px 0px 3px 0px;
    }

    .filters li{
        display: inline-flex;
    }

    .products{
        flex-direction: column;
        align-items: center;
    }

    .nosotros-img-container img{
        height: 180px; 
        width: 360px;
    }

    .links-networks-social a img{
        height: 70px; 
        width: 70px;
    }
}
